SECRET_KEY=changeme
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
USE_S3_MEDIA=0
USE_S3_STATIC=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_MEDIA_BUCKET_NAME=propertyhub-media
AWS_STATIC_BUCKET_NAME=propertyhub-static
