services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: propertyhub-web
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:
      - localstack
    entrypoint: >
      sh -c "
        uv run python manage.py migrate &&
        uv run gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers=3 --timeout=120
      "

  localstack:
    image: localstack/localstack
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
