[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-environ = "*"
django = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
django-extensions = "*"
django-axes = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
django-debug-toolbar = "*"
factory-boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.12"
