{% extends 'base.html' %}

{% block content %}
{% if properties %}
{% for property in properties %}
<div>
  {% if property.image %}
  <img src="{{ property.image.url }}" alt="Property Image" height="200" width="200">
  {% endif %}
  <h2>{{ property.name }}</h2>
  <p>{{ property.address }}</p>
  <p>{{ property.price }}</p>
  <form method="post" action="{% url 'properties:toggle_favorite' property.id %}">
    {% csrf_token %}
    <button type="submit">
        💔 Unfavorite
    </button>
</form>
  <p><a href="{% url 'properties:detail' property.pk %}">View More</a></p>
</div>
{% endfor %}
{% else %}
<div>
  <p>No properties found.</p>
</div>
{% endif %}
{% endblock %}