{% extends 'base.html' %}

{% block title %}
    {% if show_favorites %}
        My Favorites
    {% elif show_my_properties %}
        My Properties
    {% else %}
        Property List
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1>
                {% if show_favorites %}
                    <i class="bi bi-heart-fill text-danger"></i> My Favorites
                {% elif show_my_properties %}
                    <i class="bi bi-house-fill text-primary"></i> My Properties
                {% else %}
                    Properties
                {% endif %}
            </h1>
            {% if user.is_authenticated %}
            <a href="{% url 'properties:create' %}" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create Property
            </a>
            {% endif %}
        </div>
    </div>
    
    {% include 'partials/properties/property_list.html' with page_obj=page_obj properties=properties show_favorites=show_favorites show_my_properties=show_my_properties %}
</div>
{% endblock %}