.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left {
    display: flex;
    gap: 20px;
    margin-right: auto;
}

.left a {
    color: green;
}

.right {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.right a {
    color: blue;
}