<div class="mb-3" unicorn:key="password-component">
    <label for="{{ field_id }}" class="form-label">{{ field_label }}</label>
    <div class="input-group">
        <input 
            type="{% if show %}text{% else %}password{% endif %}" 
            class="form-control" 
            id="{{ field_id }}" 
            name="password"
            required
        >
        <button 
            type="button" 
            class="btn btn-outline-secondary" 
            unicorn:click="toggle">
            {% if show %}
                <i class="bi bi-eye-slash"></i>
            {% else %}
                <i class="bi bi-eye"></i>
            {% endif %}
        </button>
    </div>
</div>
