{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Create Your Account</h2>
                    {% include 'partials/users/signup_form.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
